<!DOCTYPE html>
<html>
<head>
	<title>ItsA Digit.com</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
       <!--  //////////// -->
    <!-- Home -->   
<body>
<!-- <div class="headerpart"> -->
  <a name="home" id="home"></a>
   <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
     <div class="container">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-itsAdigit-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
       <a class="navbar-brand boxmodel" href="#brand">itsAdigit</a>
       </div>
       <div class="collapse navbar-collapse navbar-right" id="bs-itsAdigit-navbar-collapse-1">
    <div class="navbar-header navbar-right"> 
       <ul class="nav navbar-nav"> 
       <li class="box"><a href="#home">Home</a></li>
       <li class="box"><a href="#about">About</a></li>
       <li class="box"><a href="#contact">Contact </a></li>
       <li class="dropdown">
       <a href="#blog" class="dropdown-toggle box" data-toggle="dropdown">Blog<b class="caret"></b></a>
       <ul class="dropdown-menu">
       <li><a href="#link1">Blog1</a></li>
       <li><a href="#link2">Blog2</a></li>
       <li><a href="#link3">Blog3</a></li>
         <li class="divider"></li>
        <li><a href="#more">....See More</a></li>
        </ul>
        </li>
       </li>
     <li class="box"><a href="#help">Help</a></li>
        </ul>
      </div> 
    </div>
   </nav>
<!--   </div> -->
<!-- <div class="page-header align-image">
<img src="images/itsdigit.jpg"/>
</div> -->
   <!--  Home  -->
<div class="container">
<div class="jumbotron">
   <div class="container">
   <span><img src="images/img.jpg"/></span>
   <span><img src="images/apple.jpeg" height="252px" width="447px" /></span>
   <h3>its A Digit.Com</h3><h5>Its A Game</h5>
  
  <p><a class="btn btn-primary btn-lg boxmodel" href="#" role="button">Play Now</a></p>
   <h6>Lorem Ipsum Doller</h6>
     Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis dictum porta cursus justo.

   </div>
   </div>
   </div>
<!-- ///////////////// -->
   <!--  About -->
   <a href="about" id="about"></a>
<div class="container-fluid">
<div class="jumbotron">
<div class="container">
<h2> About</h2>
<h3>------Its A Digit------</h3>
<p><i>Basically There Is 2 types of categories to choose to play the Game. They are Categorised Below.Gamification is the use of game thinking and game mechanics in non-game contexts to engage users in solving problems and increase users' self contributions. Gamification has been studied and applied in several domains, with some of the main purposes being to engage (improve user engagement, physical exercise, return on investment, flow, data quality, timeliness), teach (in classrooms, the public or at work), entertain (enjoyment, fan loyalty), measure (for recruiting and employee evaluation), and to improve the perceived ease of use of information systems. A review of research on gamification shows that a majority of studies on gamification find positive effects from gamification.However, individual and contextual differences exist.</i></p> 
  <div class="col-md-4 col-md-offset-1 border-style"> 
  <h4>For Moblile Recharge Cards </h4>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Play Now For Recharge Cards</a></p>
   <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Read Data</button>
   <div id="demo" class="collapse in">
  Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis dictum porta cursus justo.
  </div>
  </div>
  <div class="col-md-4 col-md-offset-1 border-style">
  <h4>For Moblile Recharge Cards </h4>
   <p><a class="btn btn-primary btn-lg" href="#" role="button">Play Now For Recharge Cards</a></p>
   <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Read Data</button>
   <div id="demo1" class="collapse in">
   Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis dictum porta cursus justo.
  </div>
  </div>
  <!-- <div class="col-md-4 col-md-offset-1 border-style">
  <h4>For Moblile Recharge Cards </h4>
   <p><a class="btn btn-primary btn-lg" href="#" role="button">Play Now For Recharge Cards</a></p>
   <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Read Data</button>
   <div id="demo2" class="collapse in">
 Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis dictum porta cursus justo.
  </div>
  </div> -->
   </div> 
  </div>
  <div class="jumbotron">
  <b></b><h3>Steps TO Play</h3>
 <b>Steps Involved to Play the Game:</b>

<ul>
<li>  Select Which Type You Have To Play .. </li>
 <li> Press Help For More Details like Game conditions and How to play the Game.</li>
 <li> Just Select your Domian to Ans 20 Questions.</li>
 <li> Kindly Ans Your Questions Then Win Your Recharge coupon For selected Network.</li>
 <li> There Is Time Limit For Every Question.</li>
</ul>

 <p><b>Note: </b><i>We Provide Recharge Cards for minimum 100 talktime.Means Cards Starts from Rc100 Onwords.</i></p>
   </div>
  </div>
<!-- ///////////////////// -->  
   <!-- Contact -->
   <!-- <a name="contact" id="contact"></a>
    <div class="jumbotron">
        <section class="container">
                <h2>Contact</h2>
                <p>
                 We are Here to Help you to Implement your Choices. <br />Please give me a little information in the email about your business, organization or project.
                </p>
            <div id="contact" class="box">
                <div class="row uniform">
                    <div class="7u">
                        <form method="post" action="#">
                            <div class="row uniform 50%">
                                <div class="12u">
                                    <input type="text" name="name" id="name" placeholder="Name" />
                                </div>
                            </div>
                            <div class="row uniform 50%">
                                <div class="12u">
                                    <input type="email" name="email" id="email" placeholder="Email" />
                                </div>
                            </div>
                            <div class="row uniform 50%">
                                <div class="12u">
                                    <textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="row uniform 50%">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send" /></li>
                                        <li><input type="reset" class="alt" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                   </div>
                </div>
                </section>
             </div> -->
          

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>