<style>
div
{

}
h1 {
font-weight: bold;
font-size: 36px;
margin-bottom: 10px;
line-height: 30px;
font-style: normal;
font-family: inherit;
text-align: center;
}
.subTitle {
font-size: 20px;
color: #999;
margin-bottom: 15px;
text-align: center;
}
strong {
margin: 0;
padding: 0;
border: 0;
font-style: normal;
font-size: 100%;
line-height: 1;
font-family: inherit;
}
strong, b {
font-weight: bold;
}
col6.andAhalf {
width: 25.66%;
}
fieldset { overflow:hidden }
.controls{ 
	float:left; 
	clear:none; }
strong{
 float:left; 
 clear:none; 
 display:block;
  padding: 2px 1em 0 0;
  margin-right: 25px;
 
}
input[type=radio],
 input.radio { 
 	float:left; 
 	clear:none; 
 	margin: 2px 0 0 2px; }
 	.inlinediv
 	{
 		display: inline;
 	}
 	dt {
float: left; 
width: 300px; 
}
select
{
  width:80px;
margin-right:25px;
}
table
{
text-align:left;
}
small
{
	color:grey;
}
.button
{
	
margin-left: 500px;
border-top: 1px dotted #ddd;
border-bottom: 1px dotted #ddd;
padding-top: 10px;
text-align: right;
background-color: #ff9333;
font-weight: bold;
color: white;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

