
#header {
    background-color:purple;
    color:white;
    text-align:center;
    padding:5px;
    font-weight: bold;
    height: 40px;
}
h2{
    margin-top: -0.5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px;
    color: purple;
    font-weight: bold;	      
}
#section {
    width:550px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:purple;
    color:white;
    clear:both;
    font-weight: bold;
    text-align:center;
   padding:5px;	 
   margin-left: 200px;	 
}

