
	table
	{
		border : 1px solid black;
		width : 80%;
		height : 70%;
		table-layout: fixed;

	}
	tr,td
	{
		border : 1px solid purple;
		color : white;
		font-size: 30;
		font-family: verdana;
		table-layout: fixed;
	}
	#btn,#btn1,#btn2,#btn3
	{
		background: #CC6699;
		width: 100px; height: 50px;
		font-size: 15;
		font-family: verdana;
		color: white;
		margin-left: 5px;
	}
	

	#d1,#d6,#d11,#d9,#d18,#d22,#d24,#d29
	 { background: #FFFF33; } 
	
	 #d2,#d5,#d13,#d15,#d17,#d19,#d28 { background: #6666FF; } 

	 #d4,#d7,#d10,#d12,#d16,#d20,#d23,#d27,#d25
	{
		background: #FF6633;
	}

	#d3,#d8,#d14,#d21,#d26,#d30
	{
		background: #33CC66;
	}

	#top
	{
		height: 180px;
	}
		
	#left
	{
		width: 800px; height: 600px; float: left;
	}
	
	#right
	{
		width: 500px; height: 180px; float: left;
	}

	#right-down
	{
		width: 500px; height: 300px; float: left;
	}


