.tablecss
{
	line-height: 30px;
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	background: #E8E8E8;
	border : 1px solid lightgrey;
	width: 70%;
}
.tablecss tr:nth-child(even) { 

	background: #FFFFFF;
}

.tablecss td
{
	padding : 7;
}
.tablecss thead
{
	border: 1px solid lightgrey;
	
}
select
{
	border-radius: 10px;
	width: 70px;
	height: 30px;
	background-color: lightgrey;
	font-weight: bold;
	margin-left: 20px;
	line-height: 30px;
}

.linkcss 
{
	width: 35px;
	height: 35px;
	border-radius: 25px;
	text-align: center;
	border: 2px solid lightgrey;
	margin-right: 5px;

}
