<style>

body div h1
{
	text-align: center;
}
.subTitle {
font-size: 20px;
color: #999;
margin-top: -10px;
margin-bottom: 15px;
text-align: center;
}
strong{
 float:left; 
 clear:none; 
 display:block;
  padding: 2px 1em 0 0;
  margin-right: 25px;
 
}
.controls {
float: left;
clear: none;
}
div {
display: block;
}
input[type=radio],
 input.radio { 
 	float:left; 
 	clear:none; 
 	margin: 2px 0 0 2px; }
 	
 	dt {
float: left; 
width: 300px; 
}
select
{
  width:80px;
margin-right:25px;
}

small
{
	color:grey;
}
.button
{

margin-left: 450px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
background-color: #ff9333;
font-weight: bold;
color: white;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
border-radius:10px;
width: 120px;

}
.more
{
	color:#0066CC;
	text-decoration: none;

}
.hdr
{
	height: 47px;
	background-color: lightgrey;
	color: #777;
}
	#nav
	{
	line-height: 47px;
background-color: #eeeeee;
width: 100px;
float: left;
padding: 5px;
width: 250;
margin-left: -400;
}
#section {
    width:600px;
    float:left;
    padding:10px;
    margin-left: -120px;	 	 
}
#footer {
    position:fixed;
    bottom:0;
	text-align:center;
    margin-top:25px;
	background-color:white;
   	width:100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#right {
    line-height:47px;
    background-color:#eeeeee;
    width:300px;
    float:left;
    padding:5px;	      
}
#header {
    background-color:#eeeeee;
    color:white;
    text-align:center;
    padding:5px;
    height: 35px;
}
.logo
{
	float:left;
	width:100px;
	height:120px;
	}

