.d1
{
	height: 40px;
	background-color: #4b6692;
	padding: 5px;
	color: white;
	
}
.d2
{
	width: 150px;
	float: left;
	background-color: lightgrey;
	line-height: 30px;
}
.d3
{
	
	background-color: lightgrey;
	float: left;
	line-height: 30px;

}
table
{
	border: 1px solid black;
}

