table{
    border: 1px solid black;
    color: #000066;
    height: 450px;
   
}

th, td {
    border: 1px solid black;
 
    padding-right: 10px;
    padding-left: 10px;
}
div
{
	margin-left: 350px;
	margin-right: 300px;
	margin-top: 40px;

}
h1
{
	margin-top: 10px;
	text-align: center;
	color: purple;
}
#s1
{
	float:right;
	opacity:0.5;
	color: #FF0000;
}
#in
{
	text-align: center;
	color: black;
	margin-right:30px;
	height:70px;
	font-weight:bold;
	width:70px;
}
#cor
{
	color:#990066;
}



