/*.header{
	height: 50px;
	}
	.headerContainer{
		margin: 0 auto;
		width: 80%;		
	}

	.headerLeft{
	float:left;
	width: 600px;
}
.headerLeft > span{
	margin-left: 50px;

}
.headerRight{
	float: right;
	}
.header2{
	text-align: center;*/
}
/*.logo{
	margin-top: 20px;
	margin-left: 500px;
}
.desc{
	margin-top: -20px;
}*/
.header
{
	height: 100px;
	background: lightblue;
	border: 1 px solid red;
}
/*.headerLeft
{
	float: left;
	background-color: lightblue;
}
.headerRight
{
	float: right;
	margin-right: 30px;
	background-color: lightblue;
}*/