.addImage
{	
	width: 500px;
	height: 100px;
	
}
img
{
	height: 50px;
	width: 217px;
	background-color: #3e9cca;

}
.items
{ 	font-family: BentonSansBold,Arial,sans-serif;
	color: #ffffff; 
	width:1100px; 
	height: 50px; 

	padding: 8px 0px 8px 0px;
}
.topmenu
{	
	background-color :#272727; 
	padding-left: 100px;
}
.image 
{
	float:left;
	width: 992px;
	height: 627px;

}
.results
{	  	
	padding: 10px 0 10px 0;
	width:300px; 
	height: 300px;

}
.todayResults
{  background-color: #ffffff;
	border:2px solid black;
	float:right;

}
.resultsMenu
{	border:20px 8px;
	color: #439ec9;
	padding: 12px 20px 10px 20px;

}
.finalResults
{ 	
	width:300px; 
	height: 70px;
	/*border:2px solid black;*/
	padding: 10px 0 10px 0;
	display: block;
  	line-height: 1.3em;
 }
.leaugeType
{ 
	padding: 10px 20px 10px 20px;
	font-size: 0.84615em;
	font-family: BentonSansMedium, Arial, sans-serif;
	color: #fff;
	background-color: #439ec9;
  	display: block;
 }