body {  width:1206px; 
        margin: 0 auto;
         background-color:turquoise;
           }
        
       b    {
           	color:#DC143C;

           }
           u{
           	text-decoration: bold;
           	color:#4B0082;
           }