.container {
    width: 100%;
    background-color: #F4F4F5;
}

.header {
    height: 91px;
}

.content {
    width: 980px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row {
    clear: both;
}

.vonageLogo {
    margin-top: 25px;
}

    .vonageLogo span {
        margin-left: 5px;
    }

.vonageAccount {
    margin-top: 25px;
}

.personal a {
    color: lightblue;
}

.vonageAccount span {
    margin-left: 5px;
}

.features {
    height: 30px;
    background-color: #0074C8;
    color: white;
}

    .features span {
        margin-right: 5px;
    }

.featurePlans {
    margin-top: 5px;
}

    .featurePlans a {
        color: white;
    }

.orderCalls {
    color: white;
    margin-top: 5px;
}

.banner {
    background-image: url('../pics/Vonagepictures/drtv-d.jpg');
    height: 650px;
}

.bestofferBox {
    width: 450px;
    font-family: 'Roboto Condensed',sans-serif;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    padding-top: 20px;
    margin: 0 auto;
    height: 500px;
    margin-top: 10px;
}

.firstRow {
    color: #ffffff;
    font-weight: 500;
    font-size: 3.25em;
    line-height: 50px;
    margin-bottom: 5px;
    text-align: center;
}

.ordertoDay {
    color: #ffffff;
    font-size: 1.65em;
    font-weight: 300;
    text-align: center;
    margin-top: -5px;
}

.limited {
    color: #ff8300;
    font-size: 1.85em;
    font-weight: 300;
    text-align: center;
    margin-top: 8px;
}

.pricingRow {
    color: #ffffff;
    float: left;
    font-family: 'Roboto',sans-serif;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: -60px;
    width: 210px;
}

.dolarSymbol {
    font-size: 3.2em;
    position: relative;
    top: -50px;
}

.bigNine {
    font-size: 8.25em;
    position: relative;
    left: -5px;
    font-weight: 600;
}

.smallNine {
    font-size: 4em;
    position: relative;
    top: -45px;
    left: -10px;
    font-weight: 600;
}

.subscript {
    font-size: 2em;
    position: relative;
    top: -70px;
    left: 120px;
    color: #ffffff;
    font-weight: 100;
}

.phoneAdapter {
    color: #ffffff;
    float: left;
    font-family: 'Roboto',sans-serif;
    margin-top: 10px;
    line-height: 26px;
    font-size: 1.1em;
}

    .phoneAdapter span {
        margin-left: 3px;
    }

.phoneValues {
    color: #ff8300;
}

.taxesFees {
    font-weight: 300;
    font-size: 1.em;
    color: #ffffff;
    clear: left;
    text-align: center;
}

    .taxesFees a {
        color: #ff8300;
    }

.buyNow {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

    .buyNow button {
        height: 45px;
        width: 200px;
        background-color: #FF8300;
        color: white;
        border: none;
    }

.learnMore {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

    .learnMore a {
        color: #FF8300;
        text-decoration: none;
    }

        .learnMore a:hover {
            text-decoration: underline;
        }

.save {
    margin-left: -50px;
    margin-right: -100px;
    margin-bottom: 60px;
    margin-top: -124px;
    width: 145px;
}

.callTo {
    text-align: center;
    color: #ff8300;
    position: relative;
    float: right;
    top: -600px;
    margin-right: 200px;
}
/*.backgroundMobile {
    background: url('../pics/Vonagepictures/Vonage-Box-d.jpg')no-repeat center;
    width:980px;
    height:650px;
    margin-top:30px;
    
}*/
.vonageWorks {
    background-color: #0074c8;
    color: #fff;
    float: right;
    padding: 40px;
    position: absolute;
    right: 15%;
    top: 700px;
    width: 370px;
    min-height: 225px;
    z-index: 10;
}

    .vonageWorks h2 {
        font-size: 2.000em;
        line-height: 1.1;
    }

    .vonageWorks::after {
        top: 100%;
        left: 75%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: #0074c8;
        border-width: 70px 70px 0 0;
        margin-left: -40px;
    }

.vonagebox {
    margin-bottom: -50px;
    overflow: hidden;
    padding: 60px 0 110px;
    width: 100%;
    margin-left: 120px;
}

.homeplayButton {
    position: absolute;
    margin-top: -300px;
    margin-left: 550px;
}

    .homeplayButton img {
        height: 165px;
        width: 165px;
    }

.label {
    text-align: center;
    font-size: 20px;
    height: 400px;
}

.vonagePlans {
    margin-top: 20px;
}

    .vonagePlans h2 {
        font-size: 18px;
    }

    .vonagePlans h4 {
        color: orange;
        margin-top: 25px;
    }

.faxLine {
    width: 20%;
}

.desc {
    margin-top: -10px;
    font-size: 15px;
}

.sunulring {
    width: 20%;
}

.enchancedCall {
    width: 25%;
    margin-top: 8px;
}
/*.enchancedCall h4{
    margin-top:12px;
}*/
.tollFree {
    width: 25%;
    margin-top: -8px;
}

.international {
    background: url('../pics/Vonagepictures/map-homepage.png') no-repeat center;
    background-color: #ff8201;
    max-width: 1500px;
    /*width: 100;*/
    height: 650px;
    position: relative;
    background-position: 50% 100%;
    margin: 0 auto;
}

.callingPlans {
    margin-left: 200px;
    position: relative;
    top: 100px;
    /*margin-top:100px;*/
}

    .callingPlans h2 {
        color: white;
    }

    .callingPlans input {
        width: 300px;
        height: 40px;
        font-style: italic;
        padding-left: 5px;
    }

.arrow {
    width: 150px;
    height: 150px;
    background-color: rgb(226, 114,30);
}

    .arrow img {
        width: 40px;
        height: 30px;
    }

.awesome {
    text-align: center;
}

.review {
    background-color: #FF8300;
    height: 300px;
    color: white;
    text-align: center;
}

    .review h2 {
        text-align: center;
    }

.reviewDesc {
    padding-top: 30px;
    font-size: 15px;
}

.pcMag {
    width: 25%;
}

.The Huffington Post {
    width: 25%;
}

.NextAdvisor {
    width: 25%;
    margin-left: 18px;
}

.StevieAward {
    width: 25%;
}

.seeReveiew {
    color: white;
}

    .seeReveiew button {
        width: 228px;
        height: 40px;
        background-color: #49494B;
        border: none;
        color: white;
        margin-top: 10px;
    }

.askingQuestions {
    background-color: #004E70;
    height: 450px;
    color: white;
    margin-top: -25px;
}

.faqLearn {
    padding-top: 10px;
}

    .faqLearn a {
        color: white;
        text-decoration: none;
    }

.seeFaq {
    margin-top: 25px;
}

    .seeFaq a {
        color: orange;
    }

.vonageBusiness {
    background-color: white;
    height: 250px;
    padding-left: 35px;
    padding-top: 30px;
}

    .vonageBusiness h2 {
        color: orange;
        text-align: center;
        padding-top: 15px;
    }

.bgColor {
    font-weight: 500;
    color: #49494b;
    font-family: "Roboto Condensed",san-serif;
    font-size: 1.31em;
}

.footer {
    background-color: #49494B;
    height: 600px;
}

.footerDesc {
    padding-top: 15px;
}

.home {
    width: 25%;

}

    .home div {
        margin-bottom: 8px;
    }

.footerDesc a {
    color: #b8b8bd;
    text-decoration: none;
}
.footerdescfirstRow{
     /*color: #b8b8bd;*/
     height:175px;
}

.vonageSupport {
    width: 25%;
  
}

    .vonageSupport div {
        margin-bottom: 8px;
    }

.aboutUs {
    width: 25%;
  
}

    .aboutUs div {
        margin-bottom: 8px;
    }

.internationalSite {
    width: 20%;
     
}

    .internationalSite div {
        margin-bottom: 8px;
    }
.vonageRetailer{
    color: #b8b8bd;
    margin-top:30px;
    font-size:5px;
    height:110px;
}
.findButton button {
    width:150px;
    height:55px;
    background-color:#FF8300;
    color:white;
    border:none;
    font-size:15px;
}
.nameEnter{
    margin-right:60px;
}
.nameEnter input{
    width:300px;
    height:50px;
    font-size:15px;
}
.nameEnter button{
    width:150px;
    height:55px;
    background-color:#FF8300;
    color:white;
    border:none;
    font-size:15px;
}
.orderCall{
    height:30px;
}