.header{
	width: 100%;
<<<<<<< HEAD
	background-color:#515151;
=======
	background-color: #565656;
>>>>>>> f69f9ce72b05627fb75427dfac1741ceba484bbd
	height: 30px;

}
.headerContainer{
	width: 80%;
	margin: 0 auto;

}
.divLeft{
	float: left;
	margin-top: 5px;
	
}
.divLeft span{
	margin-right: 10px;
}
.divLeft a{
	color: white;
}
.divRight{
	float: right;
	margin-top: 5px;
}
.divRight img{
	width:20px;
}
.register{
	clear: both;
	/*margin-left: 200px;*/
	float: right;
<<<<<<< HEAD
=======
	margin-bottom: 20px;
>>>>>>> f69f9ce72b05627fb75427dfac1741ceba484bbd
}
.register select{
	margin-top: 20px;
	margin-right: 10px;
<<<<<<< HEAD
	/*font-size: 15px;*/
=======
	border: none;
	/*font-size: 12px;*/
>>>>>>> f69f9ce72b05627fb75427dfac1741ceba484bbd
}

.logoimageLeft{
	float: left;
}
.logoCoupons{
	float: right;
	margin-top: 20px;
	font-size: 20px;
}
.orderStatus{
	clear: both;
	float: right;
	margin-bottom: 20px;
}
.orderStatus span a{

	margin-left: 20px;
	color: black;
	font-size: 15px;
}
.orderStatus .sign a{
	color: blue;
}
.body{
	clear: both;
<<<<<<< HEAD
	
=======
	/*width: 80%;*/
>>>>>>> f69f9ce72b05627fb75427dfac1741ceba484bbd
	}
.bodyLeft{
	width: 20%;
	height: 500px;
	float: left;
	background-color: #f2f2f2;
}
 .bodyLeft button{
 	width: 215px;
 	height: 40px;
<<<<<<< HEAD
 	background-color: blue; 
 	color: white;
=======
 	background-color: #5492c7; 
 	color: white;
 	font-size: 15px;
>>>>>>> f69f9ce72b05627fb75427dfac1741ceba484bbd
 	padding-left: 0px;

}
.bodyLeft p{
	line-height: .5em;
	color: blue;
	margin-left: 20px;
}
.bodyRight{
<<<<<<< HEAD
	float: left;
	margin-left: 2px;
	width: 60%;
	margin-top: 1px;
	

}
.firstRow{
	background-color: #3c6f98;
	width: 500px;
	height: 40px;	
}
.firstRow label{
	color: white;
}
.firstRow input{
	width: 365px;
	height: 29px;
}
.cart{
	float: right;
	margin-top: -30px;


	}
	.cart button{
		width: 150px;
		height: 40px;
		margin-left: 20px;


	}
=======
	/*margin-left: 2px;*/
	/*float: left;*/

}
.firstRow{

	background-color: #386790;
	width: 900px;
	height: 40px;
}
.firstRow label{
	color: white;
	padding-top: 5px;
	margin-left: 5px;
}
.firstRow input{
	width: 400px;
	height: 20px;
	padding-top: 5px;
	margin-top: 5px;
	padding-left: 5px;
}
.cart{
	float: right;
	margin-top: -40px;
}
.cart button{
	width: 160px;
	height: 40px;
	}
.secondRow img{
	margin-left: 5px;
	margin-top: 5px;
	width: 800px;
	height: 350px;
}	
>>>>>>> f69f9ce72b05627fb75427dfac1741ceba484bbd
