img {
	width: 600px;
	margin-bottom: 10px;
	margin-top: 20px;
	}

	
p{
	max-width: 600px;
	line-height: 100%;
	text-indent: 50px;

}
h1{
	padding-top: 60px;
	text-transform: uppercase;
	text-decoration: underline;
	border-style: solid;
	border-width: 2px;
	
	}
	body{
		background-image: url(Lighthouse.jpg);
	}
	


	
	
