.container{
	width: 100%;
	font-size: 20px;
}
.header{
	background-color: gray;
	color: green;
}
.content{
	width: 980px;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.row{
	clear: both;
}
.pictures{
	margin-top: 20px;
	}	
	.left img{
		width: 400px;
		height: 200px;
	}
	.right img{
		width: 100px;
	}
.pictures > span{
	margin-top: 20px;
}


/*.sideBar1{
	float: left;
	background-color: green;
	width: 30%;
	height: 500px;
}
.sideBar2{
	float: right;
	background-color: orange;
	color: red;
	height: 500px;
	width: 50%;
}
.sideBar3{
	float: left;
	width: 20%;
	height: 500px;
	background-color: pink;
}
.footer{
	background-color: red;
}*/

}
/*.imageContent{
	width: 400px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.imageContent img{
	width: 200px;
	height: 200px;
}
 .desc{
 	color: red;
 	font-size: 15px;
 }
.footer{
	background-color: gray;

}
.buttonRow{
	margin-top: 10px;
	/*width: 50%;*/
	/*height: 250px;
}
.buttonRow button{
	width: 150px;
	height: 50px;
	background-color: gray;
}
.inputRow{
	margin-top: 10px;
	background-color: blue;
	height: 50px;
}
.in*/
