.headerContainer{
	/*margin: 0,auto;*/
	position: relative;
  width: 100%;
  margin: 0 auto;
	height: 30px;
	font-size: 12px;
	  background-color: #444546;

}
<<<<<<< HEAD
=======
.headerContent{
    margin: 0 auto;
    height: 50px;
}
>>>>>>> f69f9ce72b05627fb75427dfac1741ceba484bbd
.divLeft{
	float: left;
	padding-top: 5px;
	color: white;

	}
.button{
	display: inline;
  padding: 2px 10px; 
  border: 1px dashed #3d6e2b;
  background-color: #589d3e;
  color: #fff;
  text-align: center;
  line-height: 21px;
  font-weight: 500;
}
.border{
	 
	    border: 1px solid #adaeaf;
		  	border-radius: 4px;
		  padding: 0 5px;
		  margin-top: -2px; 
}
.divLeft > span{
	margin-left: 10px;
}

.divRight{
	float: right;
	padding-top: 5px;
	color: white;	
	cursor: pointer;
  display: inline-block;
    vertical-align: top;
}
.divRight > span{
	margin-right: 10px;
}
.logoSection{
	position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 23px 0 2px;

  /*float: left;*/
}
.logoLeft{
	  display: block;
  position: relative;
  float: left;
  line-height: 0;
}

.logoRight{
	float: right;
	display: block;
}

.searchBorder{
	display: inline-block;
  float: left;
  font-size: 16px;
  height: 20px;
  line-height: 24px;
  width: 250px;
  color: #697071;
  padding: 7px 10px 4px 10px;
  margin: 0;
  outline: 0;
  border: 1px solid #dddedf;
  border-radius: 4px 0 0 4px;
  border-right: 0;
}
.searchIcon{
	 display: inline-block;
  height: 24px;
  width: 40px;
  text-align: center;
  padding: 7px 0 0;
  border: 1px solid #dddedf;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  opacity: .6;
    background-position: -2609px 0;
  width: 19px;
  height: 19px;
    text-align: center;
}
.bag{
	display: inline-block;
	background-position: -2539px 0;
  width: 23px;
  height: 23px;
    margin: 4px 0 0 25px;
}

<<<<<<< HEAD
=======
.button1{
      margin-left: 10px;
      color: #fff;
  background-color: #589d3e;
  border-color: transparent;
  display: inline-block;
  text-transform: uppercase;
  /*color: #589d3e;*/
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  height: 30px;
  line-height: 34px;
  padding: 0 20px;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid transparent;
}

>>>>>>> f69f9ce72b05627fb75427dfac1741ceba484bbd
.menuContent{
    border-bottom: 1px solid #c6c6c7;
    position: relative;
  width: 980px;
  float: left;
}
.menuContent > span{
  padding-left: 0;
  display: block;
  position: relative;
  float: left;
  padding: 7px 12px 0 12px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 24px;
  text-decoration: none;
  color: #444546;
}
label{
    padding: 2px 6px 0;
  border-radius: 8px;
  background: #ed6663;
  margin: 0 0 5px 5px;
  display: inline-block;
  font-size: 10px;
  color: #fff;
  vertical-align: middle;
  line-height: 13px;
  text-transform: uppercase;
}
<<<<<<< HEAD
=======
.bodyContent{
  margin-top: 100px;
}
.imageContent{
  float: left;
    display: block;
  margin: 0 auto;
    border: 0;
      vertical-align: middle;
}
.rightimageContent{
  width: 368px;
  padding-right: 20px;
    float: left;
      height: 459px;
}
.part1{
    border-bottom: 1px solid #c8d3dc;
      padding-bottom: 100px;
        padding-top: 16px;
          /*max-width: 1140px;*/
       width: 100%;
  float: none;
    height: 100px;
    width: 100%;
  /*height: 100%;*/
  position: relative;   
  margin-left: 30px;
}
.title{
    font-family: Georgia,"din-med",arial,sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  vertical-align: middle;
  line-height: 24px;
 /*padding: 30px 0px 0px 180px;*/

  text-align: left;
}
.desc{
  font-family: helvetica,arial,sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #484848;
   vertical-align: middle;
  line-height: 14px;
  padding: 6px 0px 5px 180px;
  text-transform: uppercase;
}

.image{  
  float: right;

}
>>>>>>> f69f9ce72b05627fb75427dfac1741ceba484bbd
