<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap CSS Call Out</title>
	<!-- Bootstrap core CSS -->
	<link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="TRdemo.css">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../js/bootstrap-3.3.4/docs/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/bootstrap-3.3.4/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<body>


<div class="container" id="main">
	
	<div class="row" id="featuresHeading">
		<div class="col-12">
			<h1>Chetan Bhagat Books display <small>Using bootstrap</small> </h1>
			<p class="lead">Bootstrap is open source. It's hosted, developed, and maintained on GitHub.</p>
			
		</div> <!-- End Class col-12 -->
	</div> <!-- End row -->

	<div class="row" id="features">
		<div class="col-sm-3 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Revolution 2020</h3>
				</div> <!-- end panel heading -->
				<img src="../Siva/Images/books/book1.jpeg" class="">
				<p>This Book is written by Chetan Bhagat</p>
				<h4>Cost: 89/-  <small>Actual Cost: 176/-</small></h4>
				<p>Discount: 49% off at flipkart</p>
				<a href="http://www.flipkart.com/revolution-2020-english/p/itme3fvbuemhtbyy?pid=9788129118806&otracker=from-search&srno=t_2&query=chetan+bhagat&ref=b22cfc40-677d-4314-9534-4fb3bf15aab2" target="_blank" class="btn btn-primary btn-block"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-3 -->

		<div class="col-sm-3 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">One Night At the Call Centre</h3>
				</div> <!-- end panel heading -->
				<img src="../Siva/Images/books/book3.jpeg">
				<p>This Book is written by Chetan Bhagat</p>
				<h4>Cost: 49/-  <small>Actual Cost: 140/-</small></h4>
				<p>Discount: 71% off at flipkart</p>
				<a href="http://www.flipkart.com/one-night-call-centre-english-1st/p/itme629ttbqueh4j?pid=9788129108180&otracker=from-search&srno=t_3&query=chetanbhagat+books&ref=c0b362a7-fa4f-4ee1-a55c-60f16ab78953" target="_blank" class="btn btn-primary btn-block"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-3 -->

		<div class="col-sm-3 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Half Girlfriend</h3>
				</div> <!-- end panel heading -->
				<img src="../Siva/Images/books/book2.jpeg">
				<p>This Book is written by Chetan Bhagat</p>
				<h4>Cost: 176/-  <small>Actual Cost: 176/-</small></h4>
				<p>Discount: 3% off flipkart</p>
				<a href="http://www.flipkart.com/half-girlfriend-english/p/itme3fqtvgmpzecd?pid=9788129135728&otracker=from-search&srno=t_2&query=chetanbhagat+books&ref=de10065c-850c-43b7-aedd-20c0b9bb992d" target="_blank" class="btn btn-primary btn-block"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-3 -->

		<div class="col-sm-3 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">The 3 Mistakes of My Life</h3>
				</div> <!-- end panel heading -->
				<img src="../Siva/Images/books/book4.jpeg">
				<p>This Book is written by Chetan Bhagat</p>
				<h4>Cost: 69/-  <small>Actual Cost: 176/-</small></h4>
				<p>Discount: 55% off flipkart</p>
				<a href="http://www.flipkart.com/3-mistakes-my-life-english/p/itme66cgjstszpug?pid=9788129113726&otracker=from-search&srno=t_6&query=chetanbhagat+books&ref=3667002a-ca93-436e-9827-96025c691fd7" target="_blank" class="btn btn-primary btn-block"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-3 -->
	</div> <!-- End features -->



	<div class="row" id="featuresHeading">
		<div class="col-12">
			<h1>Flipkart Tablets <small>Using bootstrap</small> </h1>
			<p class="lead">Bootstrap is open source. It's hosted, developed, and maintained on GitHub.</p>
			
		</div> <!-- End Class col-12 -->
	</div> <!-- End row -->

	<div class="row" id="features">
		<div class="col-sm-3 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Revolution 2020</h3>
				</div> <!-- end panel heading -->
				<img src="Images/lenovo.jpeg" class="">
				<p>This Book is written by Chetan Bhagat</p>
				<h4>Cost: 89/-  <small>Actual Cost: 176/-</small></h4>
				<p>Discount: 49% off at flipkart</p>
				<a href="" target="_blank" class="btn btn-warning btn-block btn-sm"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-3 -->

		<div class="col-sm-3 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">One Night At the Call Centre</h3>
				</div> <!-- end panel heading -->
				<img src="Images/lenovoYoga.jpeg">
				<p>This Book is written by Chetan Bhagat</p>
				<h4>Cost: 49/-  <small>Actual Cost: 140/-</small></h4>
				<p>Discount: 71% off at flipkart</p>
				<a href="" target="_blank" class="btn btn-warning btn-block btn-sm"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-3 -->

		<div class="col-sm-3 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Half Girlfriend</h3>
				</div> <!-- end panel heading -->
				<img src="Images/xiaomi.jpeg">
				<p>This Book is written by Chetan Bhagat</p>
				<h4>Cost: 176/-  <small>Actual Cost: 176/-</small></h4>
				<p>Discount: 3% off flipkart</p>
				<a href="" target="_blank" class="btn btn-warning btn-block btn-sm"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-3 -->

		<div class="col-sm-3 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">The 3 Mistakes of My Life</h3>
				</div> <!-- end panel heading -->
				<img src="Images/digiflip.jpeg">
				<p>This Book is written by Chetan Bhagat</p>
				<h4>Cost: 69/-  <small>Actual Cost: 176/-</small></h4>
				<p>Discount: 55% off flipkart</p>
				<a href="" target="_blank" class="btn btn-warning btn-block btn-sm"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-3 -->
	</div> <!-- End features -->
	
	<div class="row" id="featuresHeading">
		<div class="col-12">
			<h1>Flipkart Mobiles <small>Using bootstrap</small> </h1>
			<p class="lead">Bootstrap is open source. It's hosted, developed, and maintained on GitHub.</p>
			
		</div> <!-- End Class col-12 -->
	</div> <!-- End row -->

	<div class="row" id="features">
		<div class="col-sm-4 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Revolution 2020</h3>
				</div> <!-- end panel heading -->
				<img src="Images/motoE.jpg" class="">
				
				<a href="" target="_blank" class="btn btn-warning btn-block btn-sm"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-4 -->

		<div class="col-sm-4 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">One Night At the Call Centre</h3>
				</div> <!-- end panel heading -->
				<img src="Images/honor4X.jpg">
				
				<a href="" target="_blank" class="btn btn-warning btn-block btn-sm"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-4 -->

		<div class="col-sm-4 feature">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Half Girlfriend</h3>
				</div> <!-- end panel heading -->
				
				<img src="Images/asusZenfone.jpg"/>
				
				
				<a href="" target="_blank" class="btn btn-warning btn-block btn-sm"> Shop Now </a>
			</div> <!-- end panel -->
		</div> <!-- end col-sm-4 -->

		
	</div> <!-- End features -->
 </div><!-- /.container -->
 <footer>
 	
 </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../js/jquery.js"></script>   
<script src="../js/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src="Javascript/.js" type="text/javascript" ></script> -->

</body>
</html>