body 
{
	margin-top: 20px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
/*typhography*/
.well .page-header, .well .page-header h1{
	margin-top: 0;
}
.well{margin: 20px 0px;}