.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}
/* close commented backslash hack */

.container {
    width: 100%;
}

.content {
    width: 980px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row {
    clear: both;
}

.about {
    margin-left: 35px;
    margin-top: 20px;
}

    .about button {
        background-color: #516CA1;
        color: white;
        height: 30px;
        border: none;
    }

    .about input {
        width: 35px;
    }

.navigationbar a {
    text-decoration: none;
    color: black;
}

.about span {
    margin-left: 5px;
}

.mainbanner {
    margin-left: 400px;
}

.banner {
    background: url('../../wallpapers/addshell/banner.jpg') no-repeat;
    opacity: 1;
    height: 500px;
}

.menu {
    background: url('../../wallpapers/addshell/homeWhiteMenuBackground.png');
    height: 72px;
    margin-top: -185px;
}

.desc {
    width: 75%;
    margin-left: 10px;
    border-right: 1px solid grey;
}

    .desc span {
        margin-right: -25px;
    }

.matter {
    width: 75%;
    color: #555555;
    font-family: Arial;
    margin-left: 10px;
}

    .matter a {
        color: #555555;
    }

.dec {
    width: 22%;
    line-height: 15px;
    padding-left: 10px;
    position: relative;
    top: -125px;
}

    .dec span {
        margin-right: -5px;
    }

.wedo {
    margin-top: 20px;
    margin-left: 10px;
}

    .wedo span {
        margin-right: -25px;
    }

.picsone a {
    text-decoration: none;
}

.picsone span {
    margin-left: 15px;
}

.category a {
    color: grey;
    margin-left: 100px;
    text-decoration: none;
}

.subcat a {
    margin-right: 165px;
    text-decoration: none;
    color: grey;
}

.link a {
    margin-left: 20px;
}

.products span {
    margin-right: -25px;
}

.rummy {
    width: 33%;
}

.rummygames {
    font-size: 20px;
    color: grey;
}

.mat {
    color: grey;
}

.rummy a {
    color: black;
}

.feature {
    margin-top: 20px;
}

    .feature span {
        margin-right: -25px;
    }

.images {
    width: 25%;
    margin-bottom: 15px;
}

.desgin {
    background-color: #ffb300;
    width: 200px;
    padding: 5px 10px;
    margin-top: -8px;
}

    .desgin a {
        text-decoration: none;
        color: black;
    }
        .desgin a:hover {
        color: green;
    }


.footer {
    background-image: url('../../wallpapers/addshell/footerinternalbg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 453px;
}

.home {
    width: 18%;
    margin-top: 83px;
}

.quote span {
    margin-right: -15px;
}

.icons span {
    margin-left: 5px;
}

.services {
    width: 18%;
    margin-top: 75px;
}

    .services a {
        text-decoration: none;
        color: #919191;
    }

.techno {
    width: 18%;
    margin-top: 75px;
}

    .techno a {
        text-decoration: none;
        color: #919191;
    }

.contact {
    width: 18%;
    margin-top: 75px;
    color: #919191;
}

.search {
    width: 18%;
    margin-top: 60px;
    margin-left: 30px;
}

.top img {
    margin-right: -10px;
}

.bottom input {
    width: 105px;
}

.copyright {
    color: #919191;
    text-align: center;
}
