/* testcss */
.content-section 
{
padding: 10px 0;
float: left;
width: 100%;
position: relative;
}
div 
{
display: block;
}
body 
{
font-family: Arial, Halvetica, Serif, Sans-Serif;
font-size: 13px;
color: #424242;
background: #eaeaea;
}
.news-list .heading 
{
background: #e26813;
}
h1, h2, h3, h4, h5, h6, p, ul, li, body, html, form, fieldset
{
margin: 0;
padding: 0;
outline: none;
font-weight: normal;
border: 0;
}
.list-box .heading {
float: left;
width: 100%;
height: 41px;
position: relative;
z-index: 100;
}
div {
display: block;
}
.slider .slider-content
 {
float: left;
width: 100%;
height: 299px;
text-align: center;
position: relative;
}
.book-test .row {
float: left;
width: 100%;
padding-top: 10px;
}
.book-test .submit-btn input {
float: left;
width: 90px;
height: 33px;
background: url(https://s3.amazonaws.com/myamcatimages/new_images/sprite.png) no-repeat -395px -304px;
padding: 0;
margin: 0;
border: 0;
cursor: pointer;
color: #8c0f0a;
font-size: 15px;
line-height: 33px;
text-align: center;
font-weight: bold;
}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button,button 
{
padding: 1px 6px;
align-items: flex-start;
text-align: center;
cursor: default;
color: buttontext;
padding: 2px 6px 3px;
border: 2px outset buttonface;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: buttonface;
box-sizing: border-box;
}
}

/* styling classes For bbc website */
.hero2 ..hero_image_link .hero_image_overlay .hero_image_overlay_text .hero_title .hero_summary
{display: block;
-webkit-font-smoothing:antialiased;
font-family: arial,sans-serif;
}

.hero2
{
	margin-bottom: 16px;
	line-height: 1.308em;
	    font-size: 1.4em;
    color: #3c3c3c;
    font: 62.5%/1 verdana,helvetica,arial,sans-serif;
}
.hero_image_link
{
	color: #000;
font-weight: bold;
letter-spacing: -0.4px;

position: relative;
margin-bottom: 4px;
text-decoration: none;
cursor: auto;
line-height: 1.308em;
zoom: 1;

font-size: 1.4em;
}
.hero_image_overlay
{

position: absolute;
width: 100%;
z-index: 10;
color: #000;
font-weight: bold;
letter-spacing: -0.4px;
cursor: auto;
line-height: 1.308em;
zoom: 1;

font-size: 1.4em;
font: 62.5%/1 verdana,helvetica,arial,sans-serif;
}
.hero_image_overlay_text
{
	
position: absolute;
width: 100%;
z-index: 10;color: #000;
font-weight: bold;
letter-spacing: -0.4px
cursor: auto;
line-height: 1.308em;
zoom: 1;

font-size: 1.4em;
font: 62.5%/1 verdana,helvetica,arial,sans-serif;
}
.hero_title
{
font-weight: bold;
letter-spacing: -1px;
font-size: 1.714em;

color: #fff;
line-height: 1.222em;
cursor: auto;
zoom: 1;

font: 62.5%/1 verdana,helvetica,arial,sans-serif;
}
.hero_summary
{

color: rgb(60, 60, 60);

font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 32px;
letter-spacing: normal;
line-height: 16.996000289917px;
width: 624px;
zoom: 1;
}