body{
    color: #888888;
    font-family: 'Bree Serif',serif;
    font-size: 16px;
    min-height: 2000px;
}

.login_modal_footer{margin-top:5px;}
.login_modal_header .modal-title {text-align: center;font-family:'Philosopher',sans-serif; }
.form-group{position: relative;}
.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}
.login-modal{
    width:100%;
    padding-bottom:20px;
}
.login_modal_header, .login_modal_footer {background: #108CCD !important; color: #fff;}
.login-modal input{height:40px; box-shadow: none; border:1px solid #ddd;}
.modal-icons{margin-left: -10px; margin-right: 20px;}
#center-line{position: absolute;  right: 265.7px;top: 80px;background:#ddd;  border: 4px solid #DDDDDD;border-radius: 20px;}
.modal-login-btn{width:100%;height:40px; margin-bottom:10px;}
#modal-launcher{float: right; }
h1{border-bottom:5px solid #00BB64;}


