
.container {
    width: 100%;
}

.header {
    height: 80px;
    background-color: #f47b20;
}

.content {
    width: 980px;
    margin: 0 auto;
}

.row {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.carLogo {
    margin-top: 15px;
}

.country {
    background: #f1f1f1;
    cursor: pointer;
    width: 200px;
    border: 0 solid;
    color: #f57020;
}

.accountDetails {
    margin-top: 5px;
}

    .accountDetails span {
        margin-left: 10px;
        color: white;
    }

.enterbackground {
    clear: both;
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
    background: url('pics/background_carrentals.png') repeat-x left top;
}

.search {
    width: 462px;
    background-color: white;
    padding: 28px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

    .search div {
        margin-bottom: 5px;
    }

.thirdRow input {
    width: 450px;
}

.dropDate {
    margin-right: 100px;
}

.date {
    width: 100px;
}

.compare {
    margin-right: 20px;
}

.hotwire {
    margin-right: 100px;
}

.ninthRow a {
    color: green;
}

.tenthRow button {
    background-color: green;
    color: white;
    height: 31px;
    width: 114px;
}

.background {
    background: url('pics/carimage.png') repeat-x left top;
    margin-right: 100px;
    width: 360px;
    height: 300px;
}

.text h1 {
    margin: 16px 0 5px 0;
    padding: 0;
    font-family: Titillium-Light, Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: normal;
    line-height: 97.5%;
    color: #F27221;
    text-shadow: 0px 1px 2px #fff;
}

#secondLine {
    padding-left: 1em;
    font-size: 40px;
    color: #414042;
}

.text h2 {
    margin: 0;
    padding: 0 0 0 11em;
    font-family: Titillium-Light, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #414042;
    text-shadow: 0px 1px 2px #fff;
}

.phone {
    width: 33.3%;
    border: 1px;
    height: 150px;
    box-shadow: 0 0 10px #ccc;
    margin-right: 2px;
    font-size: 14px;
}

    .phone div {
        margin-bottom: 5px;
    }

    .phone h3 {
        margin-top: -5px;
        background-color: #f88e1d;
        color: white;
        padding-left: 10px;
        height: 30px;
    }

.phoneImg {
    margin-left: 10px;
}

.phoneDesc a {
    color: green;
}

.carRentals {
    width: 32.5%;
    border: 1px;
    height: 150px;
    box-shadow: 0 0 10px #ccc;
    margin-right: 2px;
    font-size: 10px;
}

    .carRentals h3 {
        background-color: #f88e1d;
        color: white;
        padding-left: 10px;
        height: 30px;
        margin-top: -5px;
        padding-top: 3px;
    }

    .carRentals div {
        padding-left: 15px;
        margin-bottom: 5px;
        font-size: 15px;
    }

.awards {
    width: 33.3%;
    border: 1px;
    height: 150px;
    box-shadow: 0 0 10px #ccc;
    font-size: 13px;
}

    .awards h3 {
        background-color: #f88e1d;
        color: white;
        padding-left: 10px;
        height: 30px;
        margin-top: -5px;
        padding-top: 2px;
    }

.firstLine a {
    border: 1px solid black;
    color: red;
}

.firstright a {
    color: green;
}
