.bodyContainerfull{
	margin: 0 auto;
  position: relative;
  
}
.subBody{
	  margin: 0;
  outline: none;
  padding: 0;
  width: auto;
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
    min-width: 980px;
      /*background: linear-gradient(white, #D3D8E8);*/
        margin: 0 auto;
  		width: 980px;
}
.connectFriends{
	float: left;
	margin-right: 15px;
  width: 565px;
    color: #0e385f;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}