h1{font-size:12px;
	margin-top: 60px;
	text-decoration: underline;
	color: pink;
 }
 h2{
 	margin-top:40px; 
 }
h1,h2{font-size: 27px;
font-weight: 100;
color: blue;
text-decoration: underline;
text-transform: uppercase;}
p{font-size: 18px;
margin-bottom: 10px;
margin-top: 10px;
max-width: 700px;
}
body{font-family: calibri;
	font-weight: 100;
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px;
	background: pink;
}
a:link{
	color: red;
}
a:hover{
	color: pink;
}
a:active
{
	color:blue;
}
/**{
	color:blue;
	margin:0;
}
h2{
	background-color: red;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
p{
	background-color: red;
	width: 200px;
	padding: 20px;
	border: 10px solid;
	margin: 60px;
}	*/
figure{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0;
	

}
li{
	margin-bottom: 5px;
}