
/*#container{
	width: 500px;
	height: 500px;
	background-color: grey;
}*/
#container{
	width: 500px;
	height: 500px;
	background-color: grey;
	margin-top: 30px;
	margin-left: 30px;
}
.blueBox{
	background-color: orange;
	position: absolute;		
	width: 100px;
	height: 100px;
	/*margin-top: 30px;*/
	top: 2m0px;
}
.greenbox{
	background-color: green;

}