

/*P{background-color: orange;
text-decoration: underline;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
text-transform: uppercase;
text-shadow:5px 10px 10px #ff0000;
}*/
/*p{background-color: red;
widht:200px
padding:60px
border:10px solid;
margin: 60px;}

figure{margin-top: 30px;
margin-bottom: 30px;
margin-left: 0}
li{margin-bottom: 5px;
margin-top: 5px;}
body{max-width:1200px;
margin:0 auto;
padding:60px;}*/
/*body{max-width:1200px;
margin:0 auto;
padding: 60px;
background-image: "pics/Koala.jpg";*/
body{
	background-repeat: no-repeat;	
	background-position: right;
	background-size: cover;
	max-width: 1200px;
	margin: 0 auto;
	
	/*background-attachment: fixed;*/
}


h1{font-size: 42px;
padding-top: 60px;}

table{background-color: orange;
}
caption{font-size: 27px;
margin-top: 40px;
text-align: left;
margin-bottom: 20px;
color: pink;}
th{text-align: left;
	color: pink;
padding-right: 30px;}
td{padding-right: 30px;
padding-top: 10px;}
input{margin-left: 10px;
padding-top: 10px;
/*border: none;*/

fieldset{
	width: 400px;
}
textarea{
	border: none;
	background-color: rgb(247,247,247);
}
button{
	padding:10px;
    border: none;
    font-family: Effra;
    color: red;
}
main{
	background-color: rgba(240,200,100,.5);
}


/*background-color: rgb(150,120,120);
color: rgb(247,200,200);}
button:hover{background-color: orange;}*/
